<a href="https://colab.research.google.com/github/Aashishc-prog/Yes-Bank-Stock-Closing-Price-prediction-/blob/main/Capstone_2_Yes_Bank_stock_closing_price_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**YES BANK STOCK CLOSING PRICE PREDICTION**

##**Yes Bank is a well-known bank in the Indian financial domain. Since 2018, it has been in the news because of the fraud case involving Rana Kapoor. Owing to this fact, it was interesting to see how that impacted the stock prices of the company and whether Time series models or any other predictive models can do justice to such situations. This dataset has monthly stock prices of the bank since its inception and includes closing, starting, highest, and lowest stock prices of every month. The main objective is to predict the stockâ€™s closing price of the month.**

##Importing libraries

In [ ]:
#Importing libraries for data handelling
import pandas as pd
import numpy as np
from numpy import math

#Importing libraries for Data Visulization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#Importing Machine Learning libraries
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings('ignore')
from pylab import rcParams

%matplotlib inline

sns.set(style='whitegrid', palette='muted', font_scale=1.5)

rcParams['figure.figsize'] = 14, 8

## Mounting drive

In [ ]:
#Mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Loading dataset
df=pd.read_csv('/content/drive/MyDrive/Project 2/data_YesBank_StockPrices (1).csv')

##Preprocesssing data

In [ ]:
# Let's check how many rows and columns do we have in our dataset
df.shape

(185, 5)

In [ ]:
#Let's see how our data looks like
df.head().T

            0       1       2       3       4
Date   Jul-05  Aug-05  Sep-05  Oct-05  Nov-05
Open     13.0   12.58   13.48    13.2   13.35
High     14.0   14.88   14.87   14.47   13.88
Low     11.25   12.55   12.27    12.4   12.88
Close   12.46   13.42    13.3   12.99   13.41

In [ ]:
df.tail().T

          180     181     182     183     184
Date   Jul-20  Aug-20  Sep-20  Oct-20  Nov-20
Open     25.6    12.0    14.3    13.3   12.41
High     28.3   17.16   15.34   14.01    14.9
Low      11.1   11.85   12.75   12.11   12.21
Close   11.95   14.37   13.15   12.42   14.67

In [ ]:
#Checking what features are  in our dataset 
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close'], dtype='object')

**Description of our dataset**

Our Yes Bank dataset contains following features:


*  Date: Date is monthly observation of stocks since its inception.
*  Open: It is the price of a stock when the stock exchange open for that day.
*  High: The maximum price of a stock attain at given period of time.
*  Low: The minimum price of a stock attain at given period of time.
*  Close: The price of a stock when the stock exchange closed for that day.

In [ ]:
df.describe().T

       count        mean         std    min    25%    50%     75%     max
Open   185.0  105.541405   98.879850  10.00  33.80  62.98  153.00  369.95
High   185.0  116.104324  106.333497  11.24  36.14  72.55  169.19  404.00
Low    185.0   94.947838   91.219415   5.55  28.51  58.00  138.35  345.50
Close  185.0  105.204703   98.583153   9.98  33.45  62.54  153.30  367.90

In [ ]:
#Getting information of our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    185 non-null    object
 1   Open    185 non-null    float64
 2   High    185 non-null    float64
 3   Low     185 non-null    float64
 4   Close   185 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.4+ KB

In [ ]:
#Checking dulpicate values in dataset
len(df[df.duplicated()])

0

In [ ]:
#Checking null values
df.isnull().sum()

Date     0
Open     0
High     0
Low      0
Close    0
dtype: int64

so our given data set has no null values

In [ ]:
# Summary of our dataset
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,185,185,Jul-05,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Open,185.0,NaN,NaN,NaN,105.541405,98.87985,10.0,33.8,62.98,153.0,369.95
High,185.0,NaN,NaN,NaN,116.104324,106.333497,11.24,36.14,72.55,169.19,404.0
Low,185.0,NaN,NaN,NaN,94.947838,91.219415,5.55,28.51,58.0,138.35,345.5
Close,185.0,NaN,NaN,NaN,105.204703,98.583153,9.98,33.45,62.54,153.3,367.9